[
  {rabbitmq_auth_backend_http,
   [{http_method,   post},
    {user_path,     "http://localhost:4000/rabbitmq/auth/user"},
    {vhost_path,    "http://localhost:4000/rabbitmq/auth/vhost"},
    {resource_path, "http://localhost:4000/rabbitmq/auth/resource"},
    {topic_path,    "http://localhost:4000/rabbitmq/auth/topic"}]}
].