{
	"workerNum": 4096,
	"port": "1883",
	"host": "0.0.0.0",
	"cluster": {
		"host": "0.0.0.0",
		"port": "1993"
	},
	"httpPort": "8081",
	"tlsPort": "8883",
	"tlsHost": "0.0.0.0",
	"wsPort": "8084",
	"wsPath": "/mqtt",
	"wsTLS": true,
	"tlsInfo": {
		"verify": false,
		"caFile": "/etc/hmq/cert/beta.fogcloud.io.crt",
		"certFile": "/etc/hmq/cert/beta.fogcloud.io.crt",
		"keyFile": "/etc/hmq/cert/beta.fogcloud.io.key"
	},
	"plugins": {
		"auth": "authhttp",
		"authConfFile": "/etc/hmq/plugins/http.json",
		"bridge": "rabbitmq",
		"bridgeConfFile": "/etc/hmq/plugins/rabbitmq.json"
	}
}
